@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Admin</h1>
    <p>Manage your store today</p>
    <form method="post">
        <input type="submit" value="Log out">
    </form>
</div>
